{% extends 'layout/base.html' %}

{% block title %}| Index {% endblock %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="home">
    <div class="card mb-5" style="width: 50rem; margin: 20px;padding: 50px;">
        <p class="card-text"><a href="{{ url_for('comment', user_id=current_user.id, thought_id=thought_id) }}" class="btn btn-success">Comment</a></p>
        {% for comment in comments %}
          <div class="card mb-3" style="width: 40rem; margin: 20px; padding: 20px;">
            <div class="card-header bg-transparent">On {{ comment|formatted_date }} {{ comment|username }} said: </div>
            <div class="card-body">
              <p class="card-text">{{comment.comment}}</p>
            </div>
          </div>
        {% endfor %}
        <p class="card-text"><a href="{{ url_for('user_thoughts', user_id=user_id) }}" class="btn btn-primary">Back</a></p>
    </div>
</section>

{% endblock %}