{% extends 'layout/base.html' %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
      <div class="form-group">
          Username: {{ form.username(class_="form-control") }}
      </div>
      <div class="form-group">
          Email: {{ form.email(class_="form-control") }}
      </div>
      <div class="form-group">
          Password: {{ form.password(class_="form-control") }}
      </div>
      <div class="form-group">
          Password: {{ form.confirmation(class_="form-control") }}
      </div>
      <div class="form-group">
          {{ form.submit(class_="btn btn-success") }}
      </div>
</form>
{% endblock %}