{% extends 'layout/base.html' %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Number of thoughts</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr>
          <td></td>
          <td><a href="{{ url_for('user_thoughts', user_id=user.id) }}">{{ user.username }}</a></td>
          <td></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}