{% extends 'layout/base.html' %}

{% block title %} | {{user.username}}'s thoughts{% endblock %}

{% block content %}
<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="home">

<div class="card mb-5" style="width: 50rem; margin: 20px;padding: 20px">
    <p class="card-text"><a href="{{ url_for('user_comments', user_id=user.id) }}">All comments({{user.comments|len}})</a></p>
    {% for t in thoughts %}
      <div class="card mb-3" style="width: 40rem; margin: 20px; padding: 20px;">
        <div class="card-header bg-transparent">On {{t.created_at}} {{user.username}} said: </div>
          <div class="card-body">
            <p class="card-text">{{t.body}}</p>
          </div>
          <div class="card-footer bg-transparent">
            {% if current_user.id == user.id %}
              <a href="{{ url_for('edit', user_id=current_user.id, thought_id=t.id) }}" class="btn btn-primary btn-sm">Edit</a>  <a href="{{ url_for('delete', user_id=current_user.id, thought_id=t.id) }}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
            <a href="{{ url_for('comment', user_id=current_user.id, thought_id=t.id) }}" class="btn btn-success btn-sm">Comment</a>
            <a href="{{ url_for('comments', thought_id=t.id) }}">Comments({{ t.comments | len }})</a>
          </div>
        </div>
      {% endfor %}
  </div>
</section>

{% endblock %}