{% extends 'layout/base.html' %}

{% block content %}
    {{ pagedown.include_pagedown() }}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.body(class_="form-control", rows=5, cols=100) }}
        </div>
        <div class="form-group">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
{% endblock %}