
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none"></span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='img/thinking.png') }}" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{ url_for('index')}}">Home</a>
        </li>
        {% if current_user.username %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('create', user_id=current_user.id) }}">Create a thought</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('update')}}">Edit profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('all')}}">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('logout')}}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('login')}}">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('register')}}">Sign up</a>
          </li>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
